<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML is working</title>
</head>
<body>
    <h1>Welcome to text analyzer. Enter your text below:</h1>
    <form action='/analyze' method='GET'>
        <textarea name='text' style="width: 615px; height: 86px; margin: 0px;"></textarea>
        <br>
        <input type='checkbox' name='removepunc'> Remove Punctuatons<br>
        <input type='checkbox' name="fullcap"> UPPER CASE<br>
        <input type='checkbox' name='newlineremover'> New Line Remover<br>
        <input type='checkbox' name='spaceremover'> Remove space<br>
        <input type='checkbox' name='charcount'> Count the characters<br>
        <button type='submit'>Analyze text</button>
    </form>
</body>
</html>